In [1]:
import pandas as pd

In [2]:
#load the extracted arrest data
arrest_totals = "arrest_totals.csv"

In [3]:
#convert to dataframe
arrests_df=pd.read_csv(arrest_totals)

In [4]:
#Remove irrelevant information from extract
offense_df=arrests_df[["COUNTY_CODE","OFFENSE_TYPE_ID","INCIDENT_COUNT"]]
offense_df.sort_values(by="COUNTY_CODE").head()

    COUNTY_CODE  OFFENSE_TYPE_ID  INCIDENT_COUNT
289       [100]               56               2
398       [100]                8               1
591   [101, 79]               15               2
21    [101, 79]                3               1
464   [101, 79]               30               3

In [5]:
#Since we loaded the information via CSV, the lists were imported as a string. Transform the strings back into lists.
arrest_transformed_df = pd.DataFrame(offense_df['COUNTY_CODE'].apply(lambda offense_code: offense_code.strip('][').split(',')))
offense_df['COUNTY_CODE'] = arrest_transformed_df['COUNTY_CODE']

C:\Users\EDUCAT~1\AppData\Local\Temp/ipykernel_5156/2040748910.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offense_df['COUNTY_CODE'] = arrest_transformed_df['COUNTY_CODE']

In [7]:
#Now that we have lists, explode on County Code to get counts by county
offense_df = offense_df.explode('COUNTY_CODE')

In [8]:
#Group together so that each county has its total assigned counts
offense_df = offense_df.groupby(['COUNTY_CODE','OFFENSE_TYPE_ID']).sum()
offense_df

                             INCIDENT_COUNT
COUNTY_CODE OFFENSE_TYPE_ID
 101        8                            20
            15                           36
            30                          335
            36                          116
            55                            1
...                                     ...
94          30                            2
            36                            2
            43                            1
            56                            2
97          3                             1

[491 rows x 1 columns]

In [9]:
offense_df.to_csv('arrest_data_transformed.csv')