In [1]:
import pandas as pd

In [2]:
offence_types_raw = "../Resources/NIBRS_OFFENSE_TYPE.csv"

In [3]:
offence_cats_df = pd.read_csv(offence_types_raw)

In [4]:
offence_cats_df

,OFFENSE_TYPE_ID,OFFENSE_CODE,OFFENSE_NAME,CRIME_AGAINST,CT_FLAG,HC_FLAG,HC_CODE,OFFENSE_CATEGORY_NAME,OFFENSE_GROUP
0,58,23*,Not Specified,Property,N,Y,6.0,Larceny/Theft Offenses,A
1,1,09C,Justifiable Homicide,Person,N,N,NaN,Homicide Offenses,A
2,2,26A,False Pretenses/Swindle/Confidence Game,Property,Y,Y,NaN,Fraud Offenses,A
3,3,36B,Statutory Rape,Person,N,Y,NaN,"Sex Offenses, Non-forcible",A
4,4,11C,Sexual Assault With An Object,Person,N,Y,2.0,Sex Offenses,A
...,...,...,...,...,...,...,...,...,...
81,68,26H,Money Laundering,Society,N,N,NaN,Other Offenses,A
82,36,11A,Rape,Person,N,Y,2.0,Sex Offenses,A
83,50,23E,Theft From Coin-Operated Machine or Device,Property,N,N,NaN,Larceny/Theft Offenses,A
84,10,90D,Driving Under the Influence,Society,N,N,NaN,Driving Under the Influence,B
85,48,90Z,All Other Offenses,Society,N,N,NaN,All Other Offenses,B

In [6]:
offense_names_df = offence_cats_df[['OFFENSE_TYPE_ID','OFFENSE_NAME']]
offense_names_df

    OFFENSE_TYPE_ID                                OFFENSE_NAME
0                58                               Not Specified
1                 1                        Justifiable Homicide
2                 2     False Pretenses/Swindle/Confidence Game
3                 3                              Statutory Rape
4                 4               Sexual Assault With An Object
..              ...                                         ...
81               68                            Money Laundering
82               36                                        Rape
83               50  Theft From Coin-Operated Machine or Device
84               10                 Driving Under the Influence
85               48                          All Other Offenses

[86 rows x 2 columns]

In [7]:
offense_names_df.to_csv('../Transformed/offense_code_names.csv')