In [1]:
import pandas as pd

In [2]:
#Store Filepaths
arrestee_raw = "Resources/Arrest Data/NIBRS_ARRESTEE.csv"
incidents_raw = "Resources/Arrest Data/NIBRS_incident.csv"
agencies_raw = "Resources/Arrest Data/agencies.csv"
offence_types_raw = "Resources/Arrest Data/NIBRS_OFFENSE_TYPE.csv"

In [3]:
#read into DataFrames
arrestee_df = pd.read_csv(arrestee_raw)
incidents_df = pd.read_csv(incidents_raw)
agencies_df = pd.read_csv(agencies_raw)
offence_cats_df = pd.read_csv(offence_types_raw)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#Gather the arrestees of the types related to the sex offenders database
relevant_offences_ids = [3,4,8,15,30,33,43,55,56,61,36]
relevant_offences_df = offence_cats_df.loc[offence_cats_df['OFFENSE_TYPE_ID'].isin(relevant_offences_ids)]

In [5]:
relevant_offences_df

,OFFENSE_TYPE_ID,OFFENSE_CODE,OFFENSE_NAME,CRIME_AGAINST,CT_FLAG,HC_FLAG,HC_CODE,OFFENSE_CATEGORY_NAME,OFFENSE_GROUP
3,3,36B,Statutory Rape,Person,N,Y,NaN,"Sex Offenses, Non-forcible",A
4,4,11C,Sexual Assault With An Object,Person,N,Y,2.0,Sex Offenses,A
8,8,370,Pornography/Obscene Material,Society,N,Y,NaN,Pornography/Obscene Material,A
14,15,40B,Assisting or Promoting Prostitution,Society,N,Y,NaN,Prostitution Offenses,A
29,30,40A,Prostitution,Society,N,Y,NaN,Prostitution Offenses,A
32,33,90H,Peeping Tom,Person,N,N,NaN,Peeping Tom,B
41,43,11B,Sodomy,Person,N,Y,2.0,Sex Offenses,A
49,55,36A,Incest,Person,N,Y,NaN,"Sex Offenses, Non-forcible",A
79,56,11D,Fondling,Person,N,Y,2.0,Sex Offenses,A
80,61,40C,Purchasing Prostitution,Society,N,Y,NaN,Prostitution Offenses,A
82,36,11A,Rape,Person,N,Y,2.0,Sex Offenses,A

In [6]:
#Gather the arrestees with the found offense codes
relevant_arrests_df = arrestee_df.loc[arrestee_df['OFFENSE_TYPE_ID'].isin(relevant_offences_ids)]

In [7]:
relevant_arrests_df.head(100)

,DATA_YEAR,ARRESTEE_ID,INCIDENT_ID,ARRESTEE_SEQ_NUM,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID,AGE_ID,AGE_NUM,SEX_CODE,RACE_ID,ETHNICITY_ID,RESIDENT_CODE,UNDER_18_DISPOSITION_CODE,CLEARANCE_IND,AGE_RANGE_LOW_NUM,AGE_RANGE_HIGH_NUM
50,2020,41748895,135139986,1,19-JAN-21,1,N,56,5,17.0,M,1,2.0,R,R,NaN,17.0,0.0
180,2020,41724204,135029010,1,01-JUL-20,3,N,36,5,34.0,F,1,2.0,NaN,NaN,NaN,34.0,0.0
181,2020,41724209,135029010,2,01-JUL-20,3,N,4,5,36.0,M,1,2.0,NaN,NaN,NaN,36.0,0.0
224,2020,40768385,131873074,1,27-SEP-20,1,N,36,5,50.0,M,1,1.0,R,NaN,NaN,50.0,0.0
225,2020,40778738,131876756,1,02-NOV-20,3,N,15,5,45.0,F,1,1.0,R,NaN,NaN,45.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5124,2020,38571623,124723552,1,03-MAR-20,1,N,36,5,33.0,M,1,1.0,R,NaN,NaN,33.0,0.0
5241,2020,41738758,135090500,1,07-DEC-20,1,N,36,5,33.0,M,1,2.0,R,NaN,NaN,33.0,0.0
5256,2020,41745328,135108052,1,25-DEC-20,1,N,36,5,44.0,M,1,2.0,N,NaN,NaN,44.0,0.0
5314,2020,41744235,135108684,1,24-NOV-20,2,N,30,5,57.0,F,1,1.0,NaN,NaN,NaN,57.0,0.0
5373,2020,41745185,135107344,1,13-APR-20,3,N,36,5,30.0,M,1,2.0,R,NaN,NaN,30.0,0.0

In [8]:
#Get the incident IDs from the relevant arrests and create a unique list
incidents_list = relevant_arrests_df['INCIDENT_ID'].unique()
incidents_list

array([135139986, 135029010, 131873074, ..., 133092512, 133123303,
       133123356], dtype=int64)

In [9]:
#Get the incident data from the gathered incident list
relevant_incidents_df = incidents_df.loc[incidents_df['INCIDENT_ID'].isin(incidents_list)]
relevant_incidents_df.head()

,DATA_YEAR,AGENCY_ID,INCIDENT_ID,NIBRS_MONTH_ID,CARGO_THEFT_FLAG,SUBMISSION_DATE,INCIDENT_DATE,REPORT_DATE_FLAG,INCIDENT_HOUR,CLEARED_EXCEPT_ID,CLEARED_EXCEPT_DATE,INCIDENT_STATUS,DATA_HOME,ORIG_FORMAT,DID
369,2020,18918,124019051,8503244,NaN,13-MAY-20,21-JAN-20,NaN,16.0,6,NaN,0,C,F,73190451
627,2020,18988,120552482,10741384,NaN,14-FEB-20,30-JAN-20,NaN,NaN,6,NaN,0,C,F,65724864
1102,2020,19054,135031838,8487604,NaN,26-FEB-21,14-MAR-20,NaN,1.0,6,NaN,0,C,F,95992523
1115,2020,19054,135027990,8482325,NaN,26-FEB-21,29-FEB-20,NaN,17.0,6,NaN,0,C,F,95996940
1126,2020,19054,135028404,8509727,NaN,26-FEB-21,31-JAN-20,NaN,0.0,6,NaN,0,C,F,95997663

In [10]:
#get the count of incidents by offence type and agency ID
#get a list of agencies by incident
cleaned_incidents = relevant_incidents_df.filter(['AGENCY_ID','INCIDENT_ID'])

#map the incidents to arrestee data for offence code
cleaned_incidents = cleaned_incidents.merge(relevant_arrests_df,how='inner',on='INCIDENT_ID')
total_counts_df = cleaned_incidents.filter(['AGENCY_ID','INCIDENT_ID','OFFENSE_TYPE_ID'])
total_counts_df = total_counts_df.groupby(['AGENCY_ID','OFFENSE_TYPE_ID']).count()
total_counts_df = total_counts_df.reset_index()
total_counts_df

     AGENCY_ID  OFFENSE_TYPE_ID  INCIDENT_ID
0        18757                3            1
1        18757               36            2
2        18757               56            2
3        18761               36            9
4        18765                8            1
..         ...              ...          ...
607      27352               56            1
608      27733               36            1
609      28679               36            1
610      28934                8            1
611      30114               36            3

[612 rows x 3 columns]

In [11]:
#Map County Name from agencies by Agency_ID
total_named_df = total_counts_df.merge(agencies_df, on='AGENCY_ID')
total_named_df = total_named_df.filter(['AGENCY_ID','OFFENSE_TYPE_ID','NCIC_AGENCY_NAME','COUNTY_NAME','INCIDENT_ID'])
total_named_df = total_named_df.rename(columns={'INCIDENT_ID':'INCIDENT_COUNT'})
total_named_df.head()

,AGENCY_ID,OFFENSE_TYPE_ID,NCIC_AGENCY_NAME,COUNTY_NAME,INCIDENT_COUNT
0,18757,3,ANDREWS PD,ANDREWS,1
1,18757,36,ANDREWS PD,ANDREWS,2
2,18757,56,ANDREWS PD,ANDREWS,2
3,18761,36,LUFKIN PD,ANGELINA,9
4,18765,8,ARANSAS PASS PD,NUECES; ARANSAS; SAN PATRICIO,1

In [14]:
#Map Offence Name from Relevant Offence list
total_named_df = total_named_df.merge(relevant_offences_df,on = 'OFFENSE_TYPE_ID')
total_df = total_named_df.filter(['AGENCY_ID','OFFENSE_TYPE_ID','NCIC_AGENCY_NAME','COUNTY_NAME','OFFENSE_NAME','INCIDENT_COUNT'])
total_df

,AGENCY_ID,OFFENSE_TYPE_ID,NCIC_AGENCY_NAME,COUNTY_NAME,OFFENSE_NAME,INCIDENT_COUNT
0,18757,3,ANDREWS PD,ANDREWS,Statutory Rape,1
1,18766,3,ROCKPORT PD,ARANSAS,Statutory Rape,2
2,18796,3,KILLEEN PD,BELL,Statutory Rape,2
3,18798,3,TEMPLE PD,BELL,Statutory Rape,1
4,18873,3,COLLEGE STATION PD,BRAZOS,Statutory Rape,1
...,...,...,...,...,...,...
607,19756,55,AUSTIN PD,WILLIAMSON; TRAVIS,Incest,1
608,19825,55,VERNON PD,WILBARGER,Incest,1
609,19870,55,HOUSTON POLICE DEPARTMENT,MONTGOMERY; FORT BEND; HARRIS,Incest,1
610,19498,33,WACO PD,MCLENNAN,Peeping Tom,2
611,19752,33,SAN ANGELO PD,TOM GREEN,Peeping Tom,1

In [16]:
total_df.to_csv('arrest_totals.csv',index=False)