In [1]:
import pandas as pd

In [2]:
#create paths to address data and county code data from Sex Offender Registry
county_codes_raw = "Resources/Sex Offender Address Data/Counties.txt"
addresses_raw = "Resources/Sex Offender Address Data/Address.txt"

In [3]:
#create dataframes from raw files
county_codes_df = pd.read_csv(county_codes_raw, sep='\t')
addresses_df = pd.read_csv(addresses_raw,sep='\t',header=None)

In [4]:
#clean up column headers for easier usage
county_codes_df = county_codes_df.rename(columns = {'000':'COUNTY_CODE','UNKNOWN':'COUNTY_NAME'})

address_headers = ['Index','AddressId','IND_IDN','SNU_NBR','SNA_TXT','SUD_COD','CITY','STATE','ZIP_CODE','COUNTY_CODE','LAT','LON']
addresses_df.columns = address_headers

In [5]:
#remove unrelated data from the addresses
cleaned_df = addresses_df.filter(['COUNTY_CODE','AddressId'])
cleaned_df = cleaned_df.dropna()
cleaned_df.head()

   COUNTY_CODE  AddressId
0        101.0    5010757
1         15.0    6440914
2          0.0    5494214
3        101.0     457490
4          0.0    5342621

In [6]:
#Get counts of registered offenders by county code
cleaned_df = cleaned_df.groupby('COUNTY_CODE').count()
cleaned_df = cleaned_df.rename(columns={'AddressId':'Registered_Offender_Count'})
cleaned_df = cleaned_df.reset_index()

In [7]:
#Map county names to county codes
cleaned_df = county_codes_df.merge(cleaned_df, on='COUNTY_CODE')
cleaned_df

     COUNTY_CODE COUNTY_NAME  Registered_Offender_Count
0              1    ANDERSON                        272
1              2     ANDREWS                         75
2              3    ANGELINA                        336
3              4     ARANSAS                        104
4              5      ARCHER                         14
..           ...         ...                        ...
246          250        WOOD                        188
247          251      YOAKUM                         18
248          252       YOUNG                         69
249          253      ZAPATA                         14
250          254      ZAVALA                         38

[251 rows x 3 columns]

In [8]:
cleaned_df.to_csv('Offender_totals_by_County.csv', index=False)